[user]
    name = # your name here
    email = # your email here

[core]
    excludesfile = ~/.gitignore_global
    pager = less -R

[merge]
    conflictstyle = diff3

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
